.head {
	border-left: 4px solid #005994;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > h4 {
		color: #202939;
		font-size: 20px;
		font-weight: 600;
	}
}

.main_search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;

	.search {
		min-width: 400px;
	}

	.filter {
		min-width: 220px;
	}
}

.main {
	border-radius: 8px;
	background: #fff;
}

.main_table {
	padding: 20px 20px 0 20px;
}

.link {
	color: #005994;
	font-size: 14px;
	font-weight: 600;
	transition: 0.3s;

	&:hover {
		text-decoration: underline;
	}
}

.state {
	display: flex;
	align-items: center;
	gap: 5px;
}

.link_state {
	color: #005994;
	font-size: 14px;
	font-weight: 400;
	transition: 0.3s;
	text-decoration: underline;
}

.name {
	width: fit-content;
	max-width: 240px;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	font-weight: 600;
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		opacity: 0.8;
	}
}
