.container {
	padding-bottom: 4px;
	overflow: auto;

	.checkbox {
		width: 16px;
		height: 16px;
		appearance: none;
		border: 2px solid #ccc;
		border-radius: 4px;
		cursor: pointer;
		position: relative;
		transition: background-color 0.2s ease;

		&:checked {
			background-color: #5b70b3;
			border-color: #5b70b3;
		}

		&:checked::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 6px;
			height: 12px;
			border: solid white;
			border-width: 0 2px 2px 0;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:hover {
			border-color: #5b70b3;
		}
	}

	&.fixedHeader {
		max-height: calc(100% - 48px); // height 100% - height Pagination

		thead {
			position: sticky;
			top: 0;
			z-index: 11;
		}
	}

	&::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: #f8f8f8;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #ccc;
	}

	table,
	td,
	th {
		text-align: left;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0 2px;
		width: 100%;
	}

	th,
	td {
		padding: 12px;
		line-height: 16px;
		white-space: nowrap;
	}

	th {
		color: var(--text-color);
		font-size: 13px;
		font-weight: 500;
		white-space: nowrap;
		padding-right: 24px;

		&.checkBox {
			display: flex;
			align-items: center;
			gap: 8px;
			width: 100%;
		}

		&.textEnd {
			text-align: right;
		}

		&.textStart {
			text-align: left;
		}

		&.textCenter {
			text-align: center;
		}
	}

	.th_title {
		position: relative;
	}

	.th_title::after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 16px;
		width: 1px;
		background-color: #cdd5df;
	}

	thead {
		box-sizing: border-box;
		background: inherit;

		.fixedLeft,
		.fixedRight {
			background: var(--primary);
		}

		.fixedLeft {
			box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}

		.fixedRight {
			box-shadow: inset 2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}
	}

	td {
		color: var(--text-color);
		font-size: 14px;
		font-weight: 500;
		// border-bottom: 1px solid var(--border-color);

		.checkBox {
			display: flex;
			align-items: center;
			gap: 8px;
			width: 100%;
		}
	}

	tbody {
		.fixedLeft,
		.fixedRight {
			background: #fff;
		}

		.fixedLeft {
			box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}

		.fixedRight {
			box-shadow: inset 2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}
	}

	.checkbox {
		cursor: pointer;
		user-select: none;
		margin-right: 8px;
		width: 18px;
		height: 18px;
	}

	.tr_data {
		background-color: #f5f9fb;
		border-bottom: 2px solid var(--light);
		td:first-child {
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
		td:last-child {
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}
}

.fixedRight {
	position: sticky;
	right: 0;
	z-index: 10;
	box-shadow: inset 0px 2px 8px rgba(99, 99, 99, 0.2);
}

.fixedLeft {
	position: sticky;
	left: 0;
	z-index: 10;
}
